<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="https://luccas.dev">
    <meta property="og:title" content="Lucas Menchon">
    <meta property="og:site_name" content="Lucas Menchon">
    <meta property="og:description" content="Lucas - Desenvolvedor .NET">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Points - For Friends</title>
</head>

<body class="bg-secondary" id="inicio">

    <div id="principal" class="container">
        <header class="pb-4 pt-4">
            <h1 class="text-white"><b class="text-info">Gaming Points</b> - For Friends</h1>
        </header>

        <h4 class="text-black">Add Team</h4>
        <div class="col-4">
            <label class="text-white fw-semibold">Team Name: <b class="text-warning">{{teamForm.name}}</b></label>
        </div>
        <div class="row">
            <div class="col-3 pe-0">
                <input type="text" class="form-control" v-model="teamForm.name" />
            </div>
            <div class="col-auto p-0 mx-1">
                <button type="button" class="btn btn-primary" @click="addTeam()">+</button>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-3" v-for="team in teams">
                <label class="text-white fw-semibold">ID: <b class="text-white">{{team.id}}</b></label> <br>
                <label class="text-white fw-semibold">Name: <b class="text-warning">{{team.name}}</b></label>
                <br>
                <div class="col-auto pe-0">
                    <label class="text-white fw-semibold">Add Member: <b
                            class="text-warning">{{team.memberForm.name}}</b></label>
                </div>

                <div class="row">
                    <div class="col-6 pe-0 m-0">
                        <input type="text" class="form-control" v-model="team.memberForm.name" />
                    </div>
                    <div class="col-auto p-0 mx-1">
                        <button type="button" class="btn btn-primary" @click="addMember(team)">+</button>
                    </div>
                </div>

                <label class="text-white fw-semibold">Members: <b class="text-warning"></b></label>
                <div v-for="member in members">

                </div>


                <br>
                <label class="text-dark fw-bold">Pontos do time:
                    <b :class="team.classPoints">{{team.points}}</b></label>

                <div class="mt-1">
                    <button type="button" class="btn btn-sm btn-success" @click="increasePoints(team)">+</button>
                    <button type="button" class="btn btn-sm btn-danger mx-1" @click="decreasePoints(team)">-</button>
                </div>
            </div>
        </div>

        <footer>

            <!-- CSS only-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
                crossorigin="anonymous">
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                crossorigin="anonymous"></script>

            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

            <!-- App Vue -->
            <script>
                const { createApp } = Vue
                createApp({
                    data() {
                        return {
                            roundsNumber: 0,
                            rounds: [],
                            teams: [],
                            members: [],
                            teamForm: {
                                id: 0,
                                name: '',
                                points: 0,
                                classPoints: 'text-white',
                                memberForm: {
                                    idTeam: 0,
                                    name: '',
                                },
                            },
                        }
                    },
                    watch: {
                        teams: {
                            handler(teams) {
                                for (var objTeam of teams) {
                                    if (objTeam.points < 0) {
                                        objTeam.classPoints = 'text-danger'
                                    }
                                    else if (objTeam.points > 0) {
                                        objTeam.classPoints = 'text-white'
                                    }
                                    else {
                                        objTeam.classPoints = 'text-info'
                                    }
                                }

                            },
                            deep: true,
                        }
                    },
                    methods: {

                        increasePoints(team) {
                            team.points++
                        },
                        decreasePoints(team) {
                            team.points--
                        },
                        addTeam() {
                            this.teams.push({
                                id: this.teamForm.id++,
                                name: this.teamForm.name,
                                points: 0,
                                memberForm: {

                                }
                            })
                        },
                        addMember(team) {
                            this.teamForm.members.push({
                                name: this.memberForm.name,
                            });
                        },
                        AddWinner() {

                        },
                        ResetPoints() {

                        }
                    },
                }).mount('#principal')
            </script>

        </footer>
    </div>
</body>

</html>