<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="https://luccas.dev">
    <meta property="og:title" content="Lucas Menchon">
    <meta property="og:site_name" content="Lucas Menchon">
    <meta property="og:description" content="Lucas - Desenvolvedor .NET">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Challenge</title>
</head>

<body class="bg-secondary" id="inicio">

    <div id="principal" class="container">
        <header class="pb-4 pt-4">
            <h1 class="text-white"><b class="text-danger">BSG</b> - Anime Challenge</h1>
        </header>
        <div class="row pb-4">
            <div class="col-auto">
                <label class="text-white">Rounds Number</label>
            </div>
            <div class="col-auto">
                <input type="number" class="form-control" v-model="RoundsNumber" />
            </div>
            <div class="col-auto">
                <input type="button" class="btn btn-primary" @click="CountRounds" value="+" />
                <input type="button" class="btn btn-primary" @click="LessRounds" value="-" />
            </div>

        </div>
        <div class="row pb-4">
            <div class="col-4">
                <label class="text-danger fw-semibold">POINTS TEAM A</label>
                <input type="number" class="form-control" v-model="PointsA" />
                <div class="mt-1">
                    <input type="button" class="btn btn-sm btn-danger" @click="CountPointsA" value="+" />
                    <input type="button" class="btn btn-sm btn-danger" @click="LessPointsA" value="-" />
                </div>
            </div>
            <div class="col-4">
                <label class="text-warning fw-semibold">POINTS TEAM B</label>
                <input type="number" class="form-control" v-model="PointsB" />
                <div class="mt-1">
                    <input type="button" class="btn btn-sm btn-warning" @click="CountPointsB" value="+" />
                    <input type="button" class="btn btn-sm btn-warning" @click="LessPointsB" value="-" />
                </div>
            </div>
            <div class="col-4">
                <label class="text-info fw-semibold">POINTS TEAM C</label>
                <input type="number" class="form-control" v-model="PointsC" />
                <div class="mt-1">
                    <input type="button" class="btn btn-sm btn-info" @click="CountPointsC" value="+" />
                    <input type="button" class="btn btn-sm btn-info" @click="LessPointsC" value="-" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <input type="button" class="btn btn-sm btn-info" @click="ResetPoints" value="Reset Game" />
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-auto">
                <input type="button" class="btn btn-primary" value="Add Winner" @click="AddWinner"/>
            </div>
            <div class="col-auto">
                <select class="form-control" v-model="Team">
                    <option>TEAM A</option>
                    <option>TEAM B</option>
                    <option>TEAM C</option>
                </select>
            </div>          
        </div>
        <input v-model="Team" /> -->


        <footer>
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
                crossorigin="anonymous">
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
            <script>
                var webapp = new Vue({
                    el: '#principal',
                    data: {
                        content: true,
                        PointsA: 0,
                        PointsB: 0,
                        PointsC: 0,
                        RoundsNumber: 0,
                        Rounds: [],
                        Team: 'TEAM A',
                    },
                    methods: {
                        CountPointsA: function () {
                            this.PointsA++;
                        },
                        LessPointsA: function () {
                            this.PointsA--;
                        },
                        CountPointsB: function () {
                            this.PointsB++;
                        },
                        LessPointsB: function () {
                            this.PointsB--;
                        },
                        CountPointsC: function () {
                            this.PointsC++;
                        },
                        LessPointsC: function () {
                            this.PointsC--;
                        },
                        CountRounds: function () {
                            this.RoundsNumber++;
                        },
                        LessRounds: function () {
                            this.RoundsNumber--;
                        },
                        AddWinner: function () {
                            this.RoundsNumber.push({
                                winner: this.Team,
                            });
                        },
                        ResetPoints: function () {
                            this.RoundsNumber = 0;
                            this.PointsA = 0;
                            this.PointsB = 0;
                            this.PointsC = 0;
                        }
                    },
                });
            </script>
        </footer>
    </div>
</body>

</html>